<% include header %>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Zhi Dong (Vincent)</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="mystyle.css" type="text/css"/>
    </head>
    <body class="cont">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="nav navbar-nav">
                        <li><a href="Home">Home</a></li>
                        <li><a href="Health">Health</a></li>
                        <li class="active"><a href="contact">Contact</a></li>
                        <li><a href="index">Guestbook</a></li>
                    </div>
                </div>
            </div>
        </nav>
        <div class="contact">
            <div id="contact-header">
                <h1><b><big>Contact Me</big></b></h1>
            </div>
            <span class="phone use" ><i class="fa fa-user fa-2x" aria-hidden="true"></i></span> 
            <input type="text" class="form-control" placeholder="Your Name"> <br>
                
            <span class="phone use" ><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Your Email"> <br>
               
            <span class="phone use" ><i class="fa fa-comments fa-2x" aria-hidden="true"></i></span>
            <textarea class="form-control" rows="2" placeholder="Your Message"></textarea><br>
                
            <button type="button" class="btn btn-primary"><b>Send</b></button>
        </div>
        <hr style="width: 50em;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2>Linkedin</h2>
                    <a href="https://www.linkedin.com/in/vincent-dong-b13b90128/"><img src="in.png" style="width:60px;height:60px;"></a>
                </div>
                <div class="col-md-3">
                    <h2>Github</h2>
                    <a href="https://github.com/PossibleVince"><img src="gh.png" style="width:60px;height:60px;"></a>
                </div>
                <div class="col-md-3">
                    <h2>BitBucket</h2>
                    <a href="https://bitbucket.org/PossibleVince/"><img src="bitbucket.png" style="width:60px;height:60px;"></a>
                </div>
                <div class="col-md-3">
                    <h2>Facebook</h2>
                    <a href="https://www.facebook.com/profile.php?id=100007701137533"><img src="fb.png" style="width:60px;height:60px;"></a>
                </div>
            </div>
        </div>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>