<% include header %>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Zhi Dong (Vincent)</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="mystyle.css" type="text/css"/>
    </head>
    <body class="cont">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="nav navbar-nav">
                        <li><a href="Home">Home</a></li>
                        <li class="active"><a href="Health">Health</a></li>
                        <li><a href="contact">Contact</a></li>
                        <li><a href="index">Guestbook</a></li>
                    </div>
                </div>
            </div>
        </nav>
        <form class="form-horizontal">
            <div id="health-header">
                <h1><b><big>Body Mass Index Calculator</big></b></h1>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label dt">Your height</label>
                <div class="col-sm-10">
                   <input type="text" id="height" placeholder="Enter your height (cm)">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label dt">Your weight</label>
                <div class="col-sm-10">
                   <input type="text" id="weight" placeholder="Enter your weight (kg)">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" onclick="calculate()" value="calculate">
                </div>
            </div>
            <div>
                <span class="displayText"></span>
            </div>
        </form>
        <div class="row">
            <div class="col-md-6">
                <h2>BMI Calculator For Women And Men</h2>
                <iframe width="420" height="345" src="https://www.youtube.com/embed/Vb-nz6op8yg"></iframe>
            </div>
            <div class="col-md-6">
                <h2>What is the BMI?</h2>
                <iframe width="420" height="345" src="https://www.youtube.com/embed/oixzznxX_6g"></iframe>
            </div>
        </div>
        <script src="Zhi.js"></script>
    </body>
</html>