<% include header %>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Zhi Dong (Vincent)</title>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="mystyle.css" type="text/css"/>
		<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	</head>

	<body class="home">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div id="navbar" class="navbar-collapse collapse">
					<div class="nav navbar-nav">
						<li class="active"><a href="Home">Home</a></li>
						<li><a href="Health">Health</a></li>
						<li><a href="contact">Contact</a></li>
						<li><a href="index">Guestbook</a></li>
					</div>
				</div>
			</div>
		</nav>

		<div class="jumbotron" style="color:black; background-color:rgb(101, 76, 241); width: auto">
			<div class="container">
				<div style="text-align:center"><img src="image1.jpeg" class="myImg"></div>
				<h1>Zhi Dong (Vincent)</h1>
			</div>
		</div>
		<div class="row" style="position: relative">
			<div   class="col-sm-6">
				<article id="intro">
					<section>              
						<h2>Current</h2>
						<p class="txt">
							I am currently a junior in Northwest. My Degree Audit shows I'm senior now, but actually this is my third year in Northwest college, because I'm a transfer student.
						</p>
					</section>
					<section>
						<header>
							<h2>Background</h2>
							<p class="txt">
								I am from Beijing, China. This is my fourth year in Maryville, first year I was in ESL program to study English. After graduated from ESL, I chose Computer Science for my major, because I'm interested in Computer. I have a lot of hobbies, but my favorite hobby is road trip.
							</p>
						</header>
					</section>
				</article>
			</div>
			<div class="col-sm-6">
				<aside id="intro1">
					<header>
						<h2>Plan</h2>
						<p class="txt">
							I wish to find a job in computer science field after graduated from Northwest. I want to be a software engineer. If I can find a job in America, I will use my holidays to travel whole world, this is my dream.
						</p>							
					</header>
				</aside>
			</div>
		</div>
	</body>
</html>